/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: antiquewhite;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilos para el encabezado */
header {
    display: flex;
    background: linear-gradient(to right, #000000, #313131);
    color: white;
    width: 98%;
    justify-content: space-between; /* Alinea el contenido a los lados opuestos */
    padding: 10px 20px;
}

header img {
    align-self: center; /* Alinea verticalmente la imagen */
}

.eslogan {
    width: 350px;
}

.logo {
    width: 200px;
}

header nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 15px;
    font-size: 25px;
    transition: color 0.3s;
}

nav a:hover {
    color: #6fa7c2; /* Cambia el color al pasar el ratón */
}

/* Estilos para el pie de página */
footer {
    display: flex;
    margin-top: 20px;
    padding: 10px 0;
    background: linear-gradient(to right, #000000, #313131);
    color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra para un efecto de profundidad */
    justify-content: center;
    align-items: center;
}

footer img {
    width: 200px;  
}

.textopresentacion p {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(45, 45, 45, 0.5);
}

.marcada {
    border: 2px dashed bisque;
    border-radius: 15px;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.textopresentacion {
    text-align: center;
    margin-bottom: 20px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.informacion {
    flex: 0 0 75%;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    margin-right: 40px;
}

.aside {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    background-color: white;
    font-size: 18px;
}


aside ul {
    list-style-type: none;
    padding: 5;
}

aside ul li {
    margin-bottom: 10px;
    padding: 12px;
}

aside ul li a {
    text-decoration: none;
    color: #6fa7c2;
}

aside ul li a:hover {
    text-decoration: underline;
}

.textopresentacion img {
    width: 550px;
}