/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: antiquewhite;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilos para el encabezado */
header {
    display: flex;
    background: linear-gradient(to right, #000000, #313131);
    color: white;
    width: 98%;
    justify-content: space-between;
    /* Alinea el contenido a los lados opuestos */
    padding: 10px 20px;
}

header img {
    align-self: center;
    /* Alinea verticalmente la imagen */
}

.eslogan {
    width: 350px;
}

.logo {
    width: 200px;
}

header nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 15px;
    font-size: 25px;
    transition: color 0.3s;
}

nav a:hover {
    color: #6fa7c2;
    /* Cambia el color al pasar el ratón */
}

/* Estilos para el pie de página */
footer {
    display: flex;
    margin-top: 20px;
    padding: 10px 0;
    background: linear-gradient(to right, #000000, #313131);
    color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    /* Añade una sombra para un efecto de profundidad */
    justify-content: center;
    align-items: center;
}

footer img {
    width: 200px;
}

.conjuntorecuadros {
    display: flex;
    width: 98%;
    justify-content: space-around;
    flex-direction: row;
    padding: 15px;
    flex-wrap: wrap;

}

.conjuntorecuadros div {
    font-size: 20px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}



.recuadro p {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px;
}


p {
    text-align: justify;
}

.marcada {
    border: 2px dashed bisque;
    border-radius: 15px;
    padding: 10px;
}

.horario .disponible {
    background-color: #6fa7c2;
}

.horario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 60px;
    margin-bottom: 60px;
}

.horario table {
    display: flex;
    border: 10px inset black;
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
}

.horario table th {
    border: 2px solid black;
}

.horario table td {
    border: 2px solid black;
}

.introhorario {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px 0;
    padding: 20px;
    background: linear-gradient(135deg, #000000, #292929);
    color: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.titular {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px 0;
    padding: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.titular p {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(45, 45, 45, 0.5);
}

.recuadro img {
    width: 300px;
}

.imagen {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: auto;
    justify-content: space-between;
}

.imagen {
    display: flex;
    justify-content: space-around;
}

.imagen img {
    width: 400px;
}